:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --bg: #fafafa;
  --surface: #ffffff;
  --line: #0000001a;
  --field: rgb(241, 241, 241);
  --text: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #b5b5b5;
    --bg: #111111;
    --surface: #020202;
    --line: #ffffff20;
    --field: #1a1a1a;
  }

  h1,
  h2,
  h3 {
    color: #ffffff;
  }

  #rail span.active {
    background-color: #ffffff20 !important;
  }

  svg {
    filter: invert();
  }
}

body {
  background-color: var(--bg);
  padding: 0 12px;
  color: var(--text);
}

* {
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  margin: 0 -12px;
  padding: 8px 8px 8px 16px;
  top: 0;
  background-color: var(--surface);
  border-bottom: 1px solid var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  margin: 12px auto;
  max-width: 320px;
  padding: 12px;
  border-radius: 6px;
  background-color: var(--surface);
  border: 1px solid var(--line);
}

.mode {
  display: flex;
  justify-content: space-between;
}

input {
  border: none;
  background-color: var(--field);
  padding: 8px;
  border: 1px solid var(--line);
  border-radius: 8px;
}

input:focus {
  outline: 3px solid rgba(34, 73, 247, 0.379);
  outline-offset: 2px;
}

h3 {
  font-size: 1rem;
  margin: 0 0 12px 0;
}

#swap-mode label {
  margin: 0 10px;
}

#time-mode label {
  margin: 0 4px 0 10px;
}

#time-mode label:first-child {
  margin-left: 0;
}

#rail {
  background-color: var(--field);
  padding: 2px 4px;
  display: flex;
  border-radius: 16px;
  border: 1px solid var(--line);
  transition: all .3s;
}

#rail:active {
  background-color: var(--line);
}

#rail span {
  display: block;
  width: fit-content;
  opacity: .5;
  background: none;
  line-height: 1;
  padding: 8px;
  margin: 2px;
  transition: all .2s;
  border-radius: 18px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}


#rail span.active {
  opacity: 1;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
  /* font-weight: 500; */
}

.icon {
  display: block;
  padding: 8px 6px 4px 6px;
  /* padding: auto; */
  border: none;
  background: none;
  border-radius: 8px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.inputWrapper .icon {
  margin-left: 2px;
}

.inputWrapper {
  padding: 12px 0;
}

.inputWrapper:not(:first-child) {
  border-top: 1px solid var(--line);
}

.add {
  /* opacity: .76; */
  width: 100%;
  margin-top: 12px;
  height: 2rem;
  background-color: var(--field);
  border: 1px dashed var(--line);
}

button:active {
  transition: all .3s;
}

button:active {
  background-color: var(--line);
}

.notfound {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.notfound div p {
  opacity: .65;
}

#mode-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#swap-mode div:not(:last-child) {
  margin-bottom: 12px;
}